.programs {
	margin-bottom: 24px;
}

.programs__category {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.programs__category-title {
	font-size: 18px;
	font-weight: 500;
}

.programs-list {
	display: flex;
	max-width: 100%;
	overflow: auto;
	gap: 12px;
	padding-bottom: 12px;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		width: auto;
		height: 0;
	}

	&.opened {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.programs-list__item {
	padding: 8px;
	border: 1px solid rgb(var(--accent-color) / 30%);
	border-radius: 12px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	transition: border-color 0.25s, box-shadow 0.25s;
	cursor: pointer;

	&:hover {
		border-color: rgb(var(--accent-color) / 80%);
		box-shadow: 0 10px 10px -10px rgb(var(--accent-color) / 0.5);
	}
}

.programs-list__item-title {
	font-size: 14px;
	font-weight: 500;
	flex-grow: 1;
	margin-bottom: 12px;
}

.programs-list__item-subtitle {
	font-size: 12px;
	font-weight: 500;
}

.programs-list__item-description {
	font-size: 12px;
	margin-bottom: 12px;
}

.programs-list__item-details {
	display: flex;
	justify-content: space-between;
}

.programs-list__item-lvl {
	font-size: 11px;
	padding: 0 8px;
	display: flex;
	align-items: center;
	border-radius: 12px;

	&.programs-list__item-lvl-beginner {
		color: green;
		background-color: #a6ff9e;
		border: 1px solid green;
	}

	&.programs-list__item-lvl-intermediate {
		color: orangered;
		background-color: #ffe0a3;
		border: 1px solid orange;
	}

	&.programs-list__item-lvl-pro {
		color: red;
		background-color: #ffd4d4;
		border: 1px solid red;
	}
}

.programs-list__item-repeats {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 11px;

	& span {
		font-weight: 500;
		font-size: 12px;
	}
}

.programs__showall {
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	&.active {
		& svg {
			rotate: 0.5turn;
		}
	}
}