.program-description {
	max-width: 600px;
	margin: 32px auto 0;
	position: relative;
}

.program-description__wrap {
	padding: 16px;
	background-color: var(--main-bg);
	border: 1px solid rgb(var(--accent-color) / 0.2);
	border-radius: 12px;
}


.program-description__slider {
	display: flex;
	max-width: 100%;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-timeline: --gallery__scrollcontainer inline;

	&::-webkit-scrollbar {
		display: none;
	}
}

.program-description__slider-item {
	flex-shrink: 0;
	width: 100%;
	scroll-snap-align: center;
}

.program-description__slider-left {
	position: absolute;
	top: 50%;
	left: -21px;
}

.program-description__slider-right {
	position: absolute;
	top: 50%;
	right: -21px;
}

.program-description__timeline {
	position: absolute;
	top: 0;
	left: 12px;
	height: 1px;
	transform-origin: 0 50%;
	width: calc(100% - 24px);
	transform: scaleX(calc(1 / var(--num-slides)));
	animation: auto grow-progress linear forwards;
	animation-timeline: --gallery__scrollcontainer;
	background-color: rgb(var(--accent-color) / 1);
}

@keyframes grow-progress{
	to {
		transform: scaleX(1);
	}
}